body {
  margin: 0;
}

.btn-adicionar-item {
  height: fit-content;
  width: 80%;
  min-width: 80%;
  max-width: 7vw;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-adicionar-item > img {
  max-width: 100%;
  min-width: 100%;
}

.btn-config > img {
  max-width: 100%;
  min-width: 100%;
}
.btn-config {
  height: fit-content;
  width: 80%;
  min-width: 80%;
  max-width: 7vw;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.foto {
  background-color: #fff;
  min-width: fit-content;
  min-height: fit-content;
  max-width: fit-content;
  max-height: fit-content;
}

.item {
  position: absolute;
  top: 0;
  box-shadow: -6px 4px 15px -5px #111;
}

.item > img {
  border: 8px double black;
  margin: 4px;
  max-width: 500px;
  max-height: 350px;
}

.item-top {
  display: flex;
  justify-content: center;
  height: 20px;
  cursor: grab;
  background-color: inherit;
  filter: brightness(90%);
}

.item-top > .alfinete {
  aspect-ratio: 7 / 4;
  height: 100%;
  background-image: url("../assets/alfinete.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.post-it {
  min-width: fit-content;
  min-height: fit-content;
  max-width: fit-content;
  max-height: fit-content;
}

.post-it > textarea {
  background-color: transparent;
  min-width: 120px;  /* Valor precisa ser em px, senão o JS se confunde!!! */
  min-height: 120px; /* idem */
  width: 120px;  /* idem */
  height: 120px; /* idem */
  border: none;
  overflow: hidden;
  margin: 10px;
  outline: none;
}

#btn-salvar {
  position: absolute;
  top: 5px;
  right: 15px;
  max-width: 4vw;
  max-height: 4vw;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#btn-salvar > img {
  max-width: 100%;
  min-width: 100%;
}

#cfg-cores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
}

#painel-lateral {
  position: absolute;
  top: 0;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.25turn, #ddd, #fff);
  min-width: 6vw;
  max-width: 6vw;
  min-height: 100vh;
  border-right: 1px solid #777;
}

#pl-botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#pl-opcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#quadro {
  background-image: url("../assets/corkboard.jpg");
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

#quadro-linhas {
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#quadro-linhas line {
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}